@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: Poppins, sans-serif;
    text-align: center;
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

.container {
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 75vh;
}

h1 {
    margin-bottom: 20px;
}

.test-area {
    margin-bottom: 20px;
}

textarea p{
    padding:10px;
}

textarea {
    border-radius: 5px;
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

.results {
    margin-bottom: 20px;
}

button {
    font-family: Poppins, sans-serif;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

#start-btn{
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
}

#reset-btn{
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 3px;
}

#user-input {
    background-color: #ffffff;
}

#test-text{
    background-color: #e2e2e2;
}
